absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-timeout==4.0.1
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blis==0.7.5
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.3.2
cachetools==4.2.4
catalogue==2.0.6
certifi==2019.11.28
cffi==1.14.0
cftime @ file:///opt/concourse/worker/volumes/live/4a3336d9-a3f9-4cac-6ab6-fd5c2c86d737/volume/cftime_1638358476016/work
chardet==3.0.4
charset-normalizer==2.0.8
click==8.0.3
click-default-group==1.2.2
cloudpickle==1.3.0
cloup==0.7.1
clyent==1.2.2
colorama==0.4.3
colour==0.1.5
commonmark==0.9.1
conda==4.11.0
conda-build==3.18.11
conda-package-handling @ file:///opt/concourse/worker/volumes/live/d106838d-eaa7-40fd-5437-9d95a7db5458/volume/conda-package-handling_1618262135990/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
crlibm==1.0.3
cryptography==2.8
cycler==0.10.0
cymem==2.0.2
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
decorator==5.1.0
defusedxml==0.6.0
diff-match-patch==20181111
distributed==2.11.0
docutils==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.7.9
Flask==1.1.1
flatbuffers==2.0
frozenlist==1.2.0
fsspec==0.6.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
glcontext==2.3.4
glob2==0.7
gmpy2==2.0.8
gmsh==4.8.4
gmsh-interop==2021.1
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
graphviz==0.17
greenlet==0.4.15
grpcio==1.43.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
hypothesis==5.5.4
idna==2.8
imageio==2.6.1
imagesize==1.2.0
importlib-metadata @ file:///opt/concourse/worker/volumes/live/6e6ff5a0-f7a2-4c13-69e3-2158eeeea26b/volume/importlib-metadata_1638542890158/work
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.12.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
isosurfaces==0.1.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
keras==2.7.0
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keyring==21.1.0
kiwisolver==1.1.0
langcodes==3.3.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
libclang==12.0.0
lief==0.9.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
manim==0.12.0
ManimPango==0.3.1
mapbox-earcut==0.12.11
Markdown @ file:///opt/concourse/worker/volumes/live/255f8945-2411-4469-7c82-a749af3aef33/volume/markdown_1614363822772/work
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
meshio==4.4.6
MeshPy==2020.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.1
moderngl==5.6.4
moderngl-window==2.4.0
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
multidict==5.2.0
multipledispatch==0.6.0
murmurhash==1.0.6
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
netCDF4==1.5.3
networkx==2.6.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.21.4
numpydoc==0.9.2
nvidia-ml-py==11.495.46
oauthlib==3.1.1
olefile==0.46
openpyxl==3.0.3
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parsedatetime==2.6
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.6.1
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plac @ file:///tmp/build/80754af9/plac_1608319346096/work
plotly @ file:///Users/nicolas/opt/miniconda3/envs/env/conda-bld/plotly_1630459557113/work/packages/python/plotly/dist/plotly-5.3.1.tar.gz
pluggy==0.13.1
ply==3.11
preshed==3.0.6
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.4
psutil==5.6.7
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydantic==1.8.2
pydocstyle==4.0.1
pydub==0.25.1
pyflakes==2.1.1
pyglet==1.5.21
Pygments==2.10.0
pygmsh==6.1.1
pyinterval==1.2.0
pylint==2.4.4
pyobjc-core==8.0
pyobjc-framework-Cocoa==8.0
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrr==0.10.3
pyrsistent==0.15.7
PySimpleGUI==4.55.1
PySimpleGUIWeb==0.39.0
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
pytools==2021.2.9
pytz==2019.3
pyvista==0.32.1
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.8
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
rem==1.0.2
remi==2020.3.10
requests==2.22.0
requests-oauthlib==1.3.0
rich==10.13.0
rope==0.16.0
rsa==4.8
Rtree==0.9.3
ruamel_yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
scooby==0.5.9
screeninfo==0.6.7
seaborn==0.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
skia-pathops==0.7.1
smart-open==5.2.1
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
srsly==2.4.2
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
tenacity @ file:///opt/concourse/worker/volumes/live/d7996077-fc26-44c3-4d3c-290a59a5f914/volume/tenacity_1632757016987/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.13
toolz==0.10.0
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
typer==0.4.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.8
vtk==9.1.0
wasabi @ file:///tmp/build/80754af9/wasabi_1612219178408/work
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1637007548983/work
wrapt==1.11.2
wslink==1.1.1
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf==0.28.0
yarl==1.7.2
zict==1.0.0
zipp==2.2.0
